<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/526b66d9-6ae8-4c31-bd7d-2661a36747bc/resourcegroups/plantillaAPIWeb/providers/Microsoft.Web/sites/APIsinPlantilla20230216171724</ResourceId>
    <ResourceGroup>plantillaAPIWeb</ResourceGroup>
    <ApiResourceId>/subscriptions/526b66d9-6ae8-4c31-bd7d-2661a36747bc/resourceGroups/plantillaAPIWeb/providers/Microsoft.ApiManagement/service/Plantilla/apis/Plantilla</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apisinplantilla20230216171724.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f868c372-a1f8-4424-b3a8-6d10053769b1</ProjectGuid>
    <MSDeployServiceURL>apisinplantilla20230216171724.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIsinPlantilla20230216171724</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIsinPlantilla20230216171724</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>